---
import Layout from "@/layouts/Layout.astro"

import BlogSection from "@/components/blog-section.astro"
---

<Layout title="Blog Posts">
  <h1
    class="my-12 max-w-2xl px-4 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-12 sm:px-8 sm:text-left md:text-5xl xl:text-6xl"
  >
    Blog
  </h1>
  <BlogSection />
</Layout>
