.embed {
  @apply relative my-8 -ms-2 -me-2 sm:-ms-4 sm:-me-4;
}

.embed > div {
  @apply h-0;
}

.embed > div > iframe {
  @apply top-0 left-0 absolute border-none;
  height: 100% !important;
  width: 100% !important;
  border-radius: 0 !important;
}

.expressive-code {
  @apply relative my-8 -ms-2 -me-2 sm:-ms-4 sm:-me-4;
}
