---
import Layout from "@/layouts/Layout.astro"

import { getTags } from "@/lib/posts"

import BlogSection from "@/components/blog-section.astro"

export async function getStaticPaths() {
  const tags = await getTags()
  return tags.map((tag) => {
    return {
      params: { tag: tag.slug },
      props: tag,
    }
  })
}

const { tag, slug } = Astro.props
---

<Layout title={tag}>
  <div class="mx-auto mt-12 max-w-6xl px-4 sm:px-8">
    <h1
      class="my-12 max-w-2xl text-center text-4xl font-extrabold capitalize leading-none tracking-tight text-gray-12 sm:text-left md:text-5xl xl:text-6xl"
    >
      {tag}
    </h1>
  </div>

  <BlogSection tagSlug={slug} />
</Layout>
