---
import { ChannelCards } from "./channel-cards"

const channels = [
  {
    name: "Better Stack",
    subscribers: "16K",
    id: "@betterstack",
    image: "/betterstack.jpg",
    url: "https://www.youtube.com/@betterstack",
  },
  {
    name: "Jolly Coding",
    subscribers: "6K",
    id: "@jollycoding",
    image: "/jollycoding.jpg",
    url: "https://www.youtube.com/@jollycoding",
  },
]
---

<div class="mx-auto mt-12 max-w-6xl px-4 sm:px-8">
  <h2
    id="channels-heading"
    class="mb-4 font-medium uppercase tracking-widest text-blue-11"
  >
    Channels
  </h2>
  <ChannelCards
    client:load
    aria-labelledby="channels-heading"
    channels={channels}
  />
</div>
